flask >= 1.1.2
requests >= 2.24.0
configparser >= 5.0.0
mysql-connector-python >= 9.1.0 
pandas >= 1.1.0
flask-assets >= 2.0 # for using sass(scss) files
libsass >= 0.20.1 # for using sass(scss) files
flask-login >= 0.5.0 # for user authentication

# for two factor authentication
pyotp >= 2.4.0 # for two factor authentication
qrcode >= 6.1 # for generating qr code - 2FA
Pillow >= 7.2.0 # for generating qr code - 2FA
